<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/stylesheets/format.css" rel="stylesheet">
  <link href="../static/stylesheets/main.css" rel="stylesheet">
        <title>Profile</title>
      </head>
<body>
    <nav class="nav-top">
        <div class="">
            <form action = "/" method = "POST">
                <input class="bloginc" type="submit" value="Blog Inc." name="sub1">
            </form>
        </div>
        
        <div class="nav-text-area">
            
            <form action = "/profile" method="POST" >
                <input value="Profile" type="submit" style="border-width:2px; border-radius: 0.75rem; padding:0.75rem; background-color: rgb(19, 18, 18); color: white;" name="sub1">
            </form>
            <form action = "/logout" method="POST" >
                <input value="Logout" type="submit" style="border-width:2px; border-radius: 0.75rem; padding:0.75rem; background-color: rgb(19, 18, 18); color: white;" name="sub1">
            </form>
            
        </div>
      </nav>
</body>

<main class="">
    
    <br>
    
    <div style="display: flex; justify-content: center; width: 100%; font-size: 1.5rem;">
    Hello, {{user}}
    </div>
    <br>
    
    <div style="display: flex; justify-content: center;">
        <form action = "/createBlogs" method = "POST">
            <input value="Create New Blog" type="submit" style="border-width:2px; border-radius: 0.75rem; padding:0.75rem; background-color: rgb(19, 18, 18); color: white;" name="sub1">
        </form>
    </div>
    
    
    
    {% for item in blogs %}
    
    <div style="display: flex; justify-content:center; padding-top: 2.5rem; padding-bottom: 2.5rem;">
        <div style="border-radius: 1rem; border-width: 2px; width: 60%; height:400px; background-color: rgb(250, 250, 250); overflow: scroll;">
            <div style=" padding: 0.75rem; height: 20%;">
                {{item[3]}}
                <br>
                
                <div style="display: flex; gap: 0.7rem;">
                    <form action = "/editBlog" method="POST" class="flex gap-3" >
                        <input type="hidden" name="blogId" value="{{item[1]}}">
                        <input style="font-size: 0.9rem; border-width: 1px;  border-radius: 0.25rem; padding: 0.5rem; color:white; background-color: black;"  value="Edit Entry" type="submit" name="sub1">
                    </form>
                    <form action = "/deleteEntry" method="POST" class="flex gap-3" >
                        <input type="hidden" name="blogId" value="{{item[1]}}">
                        <input value="Delete Entry" type="submit" style="font-size: 0.9rem; border-width: 1px;  border-radius: 0.25rem; padding: 0.5rem; color:white; background-color: black;" name="sub1">
                    </form>
                </div>
                
            </div>
            <hr>
            <div style="font-size: 1.5rem; display: flex; justify-content: center; padding: 0.75rem; height:80%;">
                {{item[4][:100]}}
            </div>
        </div>
    </div>
    {% endfor %}
    
</main>
</html>