<html>
    

Hello user. Please Sign Up.

<form action = "/signup" method = "POST">
    <input type="text" placeholder="Enter Username" name="username">
    <input type="text" placeholder="Enter Password" name="password">
    <input type="text" placeholder="Enter Email" name="email">
    <input type="text" placeholder="Enter Phone" name="phone">
    <input type="text" placeholder="Enter Adventure, Humor, Network, Scary, or Science" name="genres">
    <input type="submit" name="sub1">
</form>


</html>
