<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    
    User: {{ user }}
    
    <form action = "/createBlogs" method = "POST">
        <input type="submit" value="Create New Blog" name="sub1">
    </form>
    
    {% for item in blogs %}
    
    {{item[3]}}
    <br>
    {{item[4][:100]}}...
    
    <form action = "/editBlog" method = "POST">
        <input type="hidden" name="blogId" value="{{item[1]}}">
        <input type="submit" value="Edit Blog" name="xyz">
    </form>
        <br>
    {% endfor %}
    
</body>
</html>
